.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.detailsContainerGrid {
  height: 100%;
}

.specsContainer .specsTitle {
  font-size: 28px;
  font-weight: bolder;
  font-style: oblique;
}

@media (max-width: 768px) {
  .detailsContainer .specsContainer {
    margin-left: 10%;
  }
}

.specsContainer .specsModel {
  font-size: 24px;
  color: rgb(110, 110, 110);
  font-style: oblique;
}

.specsContainer .specsPrice {
  font-size: 32px;
  color: rgb(107, 45, 92);
}

.imageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

@media (max-width: 768px) {
  .imageContainer {
    justify-content: center;
  }
}

.imageContainer img {
  width: 350px;
  height: 450px;
}

@media (max-width: 425px) {
  .imageContainer img {
    width: 250px;
    height: 315px;
  }
}

@media (max-width: 768px) {
  .imageContainer img {
    width: 315px;
    height: 400px;
    margin-top: 6em;
  }
}

.detailsContainer .actionsContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  margin-top: 1em;
}

.colorExample {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
}

.actionsContainer .addToCartButton {
  background-color: rgb(107, 45, 92);
  color: white;
  border-radius: 50px;
  padding: 12px;
  font-weight: bolder;
  font-style: italic;
  width: 225px;
}

.actionsContainer .addToCartButton:hover {
  background-color: rgb(150, 76, 131);
  animation: shake 0.5s;
}

.actionsContainer .showMore {
  font-size: 16px;
  color: rgb(71, 71, 71);
}

.actionsContainer .showMoreContainer {
  font-size: 16px;
  color: rgb(71, 71, 71);
}

.actionsContainer .buttonContainer {
  margin: 2em 0 2em 0;
}

.goBackLink {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  margin-top: 2%;
}

.goBackLink svg {
  font-size: 18px;
}
.goBackLink:visited {
  color: black;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
